<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<title>{{ location.name }}</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/hw2.css"/>
	</head>

	<body>
	<center>
	<h2>Welcome to Memo View page!</h2>
			<p> 
			In this page, you can view a memo and update it :)<br> 
			</p>		


		{% if location.name %}
			<h3>Memo Title:</h3>
			<p>{{ location.name }}
		{% endif %}
		

		
		{% if location.rating %}
			<h3>Importance:</h3>
			<p>{{ location.rating }} 
		{% endif %}

		{% if location.description %}
			<h3>Detials:</h3>
			<blockquote>{{ location.description }}</blockquote>
		{% endif %}

		{% if img_url %}
			<h3>Memo Picture:</h3>
			<img src='{{ img_url }}'>
		{% endif %}
		
			<h3>Finished it?</h3>
			{% if location.active %}
				<p>{{ location.active }}
			{% else %}
				<p>Haven't finsh yet
			{% endif %}		
		
		<br><br>
		<a class="btn" href='/edit?key={{ key }}'>Update your Memo</a> &nbsp&nbsp
		<a class="btn" href='/admin?key={{ key }}'>Back to Main page</a>

		</center>
	</body>
</html>