<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Online Memo ~ CS496 HW2</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/hw2.css"/>
	</head>

	<body>
	<center>
		<h2>Welcome to Online Memo!</h2>
			<p> 
			In this page, you can write a memo and upload <br> 
			it to cloud. In addition, you can also upload a <br>
			detial description and picture in the memo :)
			</p>		
		<form action='{{ uploadUrl }}' method='POST' enctype="multipart/form-data">
				<input type='hidden' name='action' value='addmemo'>
			
				<b>Memo Title:</b> <br>
				<input type='text' name='memotitle' required> <br><br>
				
				<b>Importance: </b> <br>
				<input type='radio' name='importance' value='1'>Not important <br>
				<input type='radio' name='importance' value='2'>Average <br>
				<input type='radio' name='importance' value='3' checked='checked'>Very important 
				<br><br>
			
				<b>Upload an image</b><br>
				<input type='file' name='image' required><br><br>

				<b>Detials:</b><br>
				<textarea name='description' rows='5' cols='50' placeholder='Enter a description for more detials here' required> </textarea>
				<br><br>

				<b>Did you finish it?</b><br>
				<input type='checkbox' name='memofinish' value='finish'>Yes/leave blank for no<br><br>
			
			<input class="btn" type='submit' value='Add Memo'>
		</form>

		{% if locations %}
		<br><br>
		<div class="double" >
			<h3>Saved Memos:</h3>
			{% for loc in locations %}
				<a href='/view?key={{ loc.key }}'>{{ loc.name }}</a>
			{% endfor %}
		</div>
		{% endif %}


</center>
	</body>
</html>